/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.9) translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 581px;
  width: 528px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  background-color: rgba(255, 255, 255, 1);

  transform: scale(1) translate(-50%, -50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  padding: 0;
  border-color: 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: #ffff;
  cursor: pointer;
}

.close-icons-container {
  position: relative;
  display: inline-block;
}
.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.subscription-form {
  margin: 40px;
}

.subscription-form-title {
  display: block;

  margin-bottom: 12px;

  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;

  color: var(--title-txt-cl);
}

.subscription-form-field {
  position: relative;
  margin-top: 28px;

  display: block;
  align-items: center;
}

.subscription-form-field:last-child {
  margin-top: 10px;
}

.subscription-form-input {
  display: block;

  /* margin: 0 auto 0px auto; */
  padding: 0 40px;

  width: 100%;
  /* width: 448px; */
  height: 40px;
  border: 1px solid #21212133;
  border-radius: 4px;

  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form-lable {
  position: absolute;

  top: 50%;
  left: 40px;

  display: block;

  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;

  color: var(--main-txt-cl);

  transform: translateY(-50%);

  /* transform: translate(-28px, -36px); */

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form-input:hover {
  border-color: var(--accent-txt-cl);
}

.subscription-form-input:focus + .subscription-form-lable,
.subscription-form-input:not(:placeholder-shown) + .subscription-form-lable {
  border-color: var(--accent-txt-cl);
  transform: translate(-28px, -36px);
  color: var(--accent-txt-cl);
}

.subscription-form-input:focus ~ .subscription-form-icon,
.subscription-form-input:not(:placeholder-shown) ~ .subscription-form-icon {
  fill: var(--accent-txt-cl);
}

.subscription-form-heading {
  position: absolute;
  display: block;

  top: -18px;
  /* left: 12px; */

  margin-bottom: 4px;

  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;

  color: var(--main-txt-cl);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-form-message {
  display: block;

  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  width: 100%;
  /* width: 448px; */
  height: 120px;

  resize: none;

  outline: transparent;

  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;

  color: var(--main-txt-cl);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form-message:hover + .subscription-form-heading {
  color: var(--accent-txt-cl);
}
.subscription-form-message:focus + .subscription-form-heading {
  color: var(--accent-txt-cl);
}

.subscription-form-message:focus,
.subscription-form-message:hover {
  border-color: var(--accent-txt-cl);
}

.subscription-form-agreement {
  display: flex;
  align-items: center;

  margin-top: 20px;
  margin-left: 13px;
  gap: 8px;
}

.subscription-form-desc {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24px / 14px);
  letter-spacing: 0.03em;
  text-align: left;

  color: var(--main-txt-cl);
}

.subscription-form-link {
  display: inline-block;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24px / 14px);
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: underline;

  color: var(--accent-txt-cl);
}

.subscription-form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* appearance: none; */

  position: absolute;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 2px solid #212121;
  border-radius: 4px;
}

.subscription-form-checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: var(--accent-txt-cl);
  background-image: url(../images/svg/icon_check.svg);
  background-size: contain;
  background-origin: border-box;
}

.subscription-form-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 10px 32px;

  width: 200px;
  height: 50px;

  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: calc(30px / 16px);
  letter-spacing: 0.06em;
  text-align: center;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--hero-txt-cl);
  background-color: var(--hero-btn-cl);
}

/* section */

.benefits-card {
  margin-right: 30px;

  width: 270px;
}

.benefits-card:last-child {
  margin-right: 0px;
}

.benefits-list-title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  color: var(--title-txt-cl);
}

.benefits-text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
}
.benefit-icon {
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 100px;
  border-radius: 4px;
  background-color: var(--benefit-icon-bg-cl);
}
/* work */

.work-title {
  margin-bottom: 50px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;

  color: var(--title-txt-cl);
}

.work-images {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-items {
  position: relative;
}
.work-text {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;

  color: var(--work-text-cl);
  background-color: var(--work-text-bg);
}

/* team */

.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;

  color: var(--title-txt-cl);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.team-card {
  margin-right: 30px;
  border-bottom: 4px;
  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  width: 270px;
}

.team-card:last-child {
  margin-right: 0px;
}
.team-list-name {
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.48px;

  color: var(--title-txt-cl);
}
.team-card-desc {
  padding-top: 30px;
  margin-bottom: 10px;
}
.team-list-profession {
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.48px;
}

.team-social {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  fill: #afb1b8;
  /* color: var(--team-socials-icon-cl); */

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-item {
  margin-right: 10px;
}
.team-social-item:last-child {
  margin-right: 0px;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--social-hover-bg-cl);
  fill: var(--social-hover-icon-cl);
}
/* .team-social-icon {
  fill: #afb1b8;
} */

/* Clients */
.clients-title {
  margin-bottom: 50px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;

  color: var(--title-txt-cl);
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--social-hover-bg-cl);
  fill: var(--social-hover-bg-cl);
}
/* Portfolio main*/

/* .portfolio {
  text-align: center;
} */
.portfolio-filter {
  margin-bottom: 50px;

  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-item {
  margin-right: 8px;
}

.filter-item:last-child {
  margin-right: 0px;
}
.portfolio-filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;

  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63; /* 162.5% */
  letter-spacing: 0.48px;
  cursor: pointer;

  color: var(--portfolio-btn-cl);
  background-color: var(--portfolio-btn-bg-cl);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
  color: var(--portfolio-btn-text-hover-cl);
  background-color: var(--portfolio-btn-hover-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  margin-right: -30px;
  margin-bottom: -30px;

  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card {
  flex-basis: calc((100%-2 * 30px) / 3);

  margin-right: 30px;
  margin-bottom: 30px;

  background: var(--team-caerd-bg-cl);
}

.portfolio-card:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-thumb {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;

  top: 0;
  left: 0;

  transform: translateY(100%);

  width: 100%;
  height: 100%;

  display: flex;
  align-content: center;
  justify-content: center;

  padding: 63px 24px;

  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color: var(--btn-accent-txt-cl);
  background-color: var(--portfolio-overlay);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */

.portfolio-card-link:hover,
.portfolio-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card-link:hover .card-overlay,
.portfolio-card-link:focus .card-overlay {
  transform: translateY(0);
}
.portfolio-desc {
  padding: 20px 24px;

  border: 1px solid var(--portfolio-card-border);
  border-top: none;
}
.portfolio-title {
  margin-bottom: 4px;

  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;

  color: var(--title-txt-cl);
}

.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.48px;
  color: var(--main-txt-cl);
}

/* 
1. Не работает псевдокласс last-child на subscription-form-field. Не дает отличный margin-top */
