.clients__title {
  margin-bottom: 50px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;

  color: $title-txt-cl;
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-cl;
    fill: $accent-cl;
  }
}
