/* fonts */
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;

// logo colors
$header-logo-cl: #000000;
$logo-color: #2196f3;
$footer-logo-cl: #ffffff;

/* text color */
$main-txt-cl: #757575;
$title-txt-cl: #212121;
$accent-txt-cl: #2196f3;

$btn-accent-txt-cl: #ffffff;
$hero-txt-cl: #ffffff;
$footer-txt-cl: #ffffff;
$work-text-cl: #ffffff;
$portfolio-card-disc-text: rgba(255, 255, 255, 1);

$team-social-icon-cl: #afb1b8;
$social-hover-icon-cl: #ffffff;
/* boarder colors */
$header-border: #ececec;
/* background colors */
$hero-bg-cl: #2f303a;
$footer-bg-cl: #2f303a;
$footer-icon-bg-cl: #ffffff1a;
$footer-icon-hover-cl: #2196f3;

$benefit-icon-bg-cl: #f5f4fa;
$main-bg-cl: #ffffff;
$section-bg-cl: #f5f4fa;
$card-bg-color: #ffffff;
$social-hover-bg-cl: #2196f3;
$work-text-bg: rgba(47, 48, 58, 0.8);
$portfolio-card-disc-bg: rgba(33, 150, 243, 0.9);
$portfolio-overlay: rgba(33, 150, 243, 0.9);

/* btn */
$hero-btn-cl: #2196f3;
$portfolio-btn-cl: #212121;
$portfolio-btn-text-hover-cl: #fff;
$portfolio-btn-bg-cl: #f5f4fa;
$portfolio-btn-hover-cl: #2196f3;
$portfolio-card-border: #eeeeee;
